p {
	margin: 0 0 1rem;
}

h1 { font-size: 50px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

button {
	color: inherit;
	cursor: pointer;
	border: 0;
	padding: 0;
	background: none;
	font-family: inherit;
	font-size: inherit;

	&:hover {
		cursor: pointer;
	}
}

figure {
	margin: 0;
}