.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'material-design' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.right:after { transform: rotate(270deg); }
	&.up:after { transform: rotate(180deg); }
  &.left:after { transform: rotate(90deg); }
  
  &.vector-square:after {
    content: unicode("f0001");
  }

  // @debug($icons);

	@each $name, $value in $icons {
		&.#{unquote($name)}{
			&:after {
				content: unicode($value);
			}
		}
	}
}