$theme-dark: (
	// item colors
	'grey': gcolor('silver-chalice'),
	'gravel': gcolor('gainsboro'),
	'charcoal': gcolor('dusty-grey'),
	'blue': gcolor('danube'),
	'lake': gcolor('pelorous'),
	'fuchsia': gcolor('orchid'),
	'blue-violet': gcolor('perfume'),
	'dark-purple': gcolor('lavender'),
	'green': gcolor('chateau-green'),
	'laurel': gcolor('salem'),
	'brown': gcolor('tussock'),
	'sepia': gcolor('meteor'),
	'red': gcolor('salmon'),
	'orange': gcolor('flamenco'),
	'tan': gcolor('galliano'),
	'milk-punch': gcolor('milk-punch'),
	'yellow': gcolor('sunglow'),
	'denim': gcolor('royal-blue'),
	'blush': gcolor('charm'),
	'elm': gcolor('mountain-meadow'),
	'fire-brick': gcolor('roman'),
	
	'cardinal': gcolor('french-rose'),
	'danube': gcolor('ship-cove'),
	'honeydew': gcolor('battleship-grey'),
	'cream': gcolor('sepia'),
	
	// support for old colors
	'light-grey': gcolor('gainsboro'),
	'dark-grey': gcolor('dusty-grey'),
	'dark-blue': gcolor('royal-blue'),
	'purple': gcolor('orchid'),
	'dark-brown': gcolor('meteor'),
	'dark-green': gcolor('salem'),
	
	// static colors
	'dark-text-color': gcolor('charcoal'),
	'light-text-color': gcolor('white'),
	'thunderbird': gcolor('thunderbird'),
	'chablis': gcolor('chablis'),

	header-orange: linear-gradient(to right, gcolor('revolver'), gcolor('shadow')),
	header-blue-green: linear-gradient(to right, gcolor('cloud-burst'), gcolor('chalet-green')),
	header-purple: linear-gradient(to right, gcolor('jazz'), gcolor('lotus')),
	search-portals-bg: linear-gradient(to right, gcolor('biscay'), gcolor('chambray')),

	// form field
	input-border: gcolor('seal'),
	input-bg: gcolor('mortar'),
	range-bg: gcolor('mortar'),
	input-focus-border: gcolor('sandal'),
	input-focus-bg: gcolor('charcoal'),
	checkbox-color: gcolor('white'),
	checkbox-bg: gcolor('mariner'),

	/* ********************************************* */
	input-search-purple: gcolor('jagger'),
	input-search-purple-focus: gcolor('voodoo'),
	input-search-blue: gcolor('biscay'),
	input-search-blue-focus: gcolor('port-gore'),
	/* ********************************************* */

	// ex: Form-Element, Workflow-Step, Step-Frame, Table-Row
	element-border: gcolor('nero'),
	element-bg: gcolor('mine-shaft'),
	element-empty-border: gcolor('eclipse'),
	element-empty-bg: gcolor('cod-grey'),
	element-active-border: gcolor('boulder'),
	element-active-bg: gcolor('night-rider'),
	// ex: Dropdown item
	item-hover-color: gcolor('gallery'),
	input-placeholder: gcolor('seal'),
	item-hover-bg: gcolor('mortar'),
	item-disabled-color: gcolor('gravel'),
	item-disabled-bg: gcolor('dim-grey'),
	item-focus-color: gcolor('white'),
	item-focus-bg: gcolor('mariner'),
	
	primary-color: gcolor('silver'),
	secondary-color: gcolor('gallery'),
	tertiary-color: gcolor('concrete'),
	
	primary-border: gcolor('mortar'),
	
	body-bg: gcolor('cod-grey'),
	primary-bg: gcolor('mine-shaft'),
	secondary-bg: gcolor('nero'),
	tertiary-bg: gcolor('emperor'),
	
	primary-shadow: gcolor('mine-shaft'),
	secondary-shadow: gcolor('nero'),
	tertiary-shadow: gcolor('black'),
	
	datepicker-top-panel-bg: gcolor('charcoal'),
	datepicker-bottom-panel-bg: gcolor('boulder'),
	datepicker-selected-bg: gcolor('mariner'),
	
	repeatable-btn-color: gcolor('white'),
	repeatable-btn-border: gcolor('mariner'),
	repeatable-btn-bg: gcolor('mariner'),
	repeatable-btn-focus-color: gcolor('white'),
	repeatable-btn-focus-border: gcolor('denim'),
	repeatable-btn-focus-bg: gcolor('denim'),
	
	dynamic-parent-border: gcolor('emperor'),
	dynamic-parent-bg: gcolor('mine-shaft'),
	dynamic-child-border: gcolor('emepror'),
	dynamic-child-bg: gcolor('night-rider'),
	
	dropzone-hover: gcolor('mortar'),
	
	dropzone-danger: gcolor('melon'),
	
	dropzone-prompt-danger-background: gcolor('woody-brown'),
	dropzone-prompt-danger-border: gcolor('red'),
	dropzone-prompt-danger-color: gcolor('geraldine'),
	
	dropzone-prompt-success-background: gcolor('plantation'),
	dropzone-prompt-success-border: gcolor('asparagus'),
	dropzone-prompt-success-color: gcolor('asparagus'),
	
	dropzone-listing-background: gcolor('eclipse'),
	dropzone-delete-hover: gcolor('zambezi'),
	
	tooltip-color: gcolor('white'),
	tooltip-bg: gcolor('boulder'),
	tooltip-link: gcolor('cerulean'),
	
	notification-hover: gcolor('manatee'),
	unread-notification-hover: gcolor('sea-nymph'),
	
	datepicker-radius: 20px,

	scroll-track: gcolor('cod-grey'),
	scroll-thumb: gcolor('gravel'),
	scroll-track-hover: gcolor('night-rider'),

	// popkern
	pop-background-home: gcolor('raisin-black'),
  pop-background-body: gcolor('black-chocolate'),
  pop-text-contrast: gcolor('congo-pink'),
	pop-background-header: gcolor('ship-cove'),
	pop-foreground-home: gcolor('picasso'),
	pop-text-header: gcolor('sunglow'),
	pop-text-content: gcolor('gainsboro'),
	pop-border: gcolor('zambezi'),
)