.ui-placeholder,
.waiting-for-functionality {
	border: 1px dashed #e72113;
	border-radius: 5px;
	min-height: 22px;
	margin: -1px 0;

	&:before {
		content: 'Waiting Functionality\ARemove this DIV after the implementation is complete';
		display: block;
		padding: 15px;
		transition: opacity 200ms ease;
		font-weight: 800;
		font-size: 13px;
		text-align: center;
		white-space: pre;
		opacity: 0;
		border-radius: 5px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		background-color: #e72113;
		color: #fef2f1;
	}

	&.copy {
		&:before {
			content: 'Waiting for final copy';
			background-color: #b513e7;
		}
	}

	&.experimental {
		border-color: #2f82a4;

		&:before {
			content: 'This is an experimental feature';
			background-color: #2f82a4;
		}
	}

	&.removed {
		background-color: #dbeafc;
		border-color: #003778;
		margin-bottom: .5rem;

		&:before {
			content: 'This section has been erased in the newest version\ARemove any implementation related to this';
			background-color: #2f82a4;
		}
	}

	&:hover {
		&:before {
			opacity: .8;
		}
	}
}

.ui-button {
	background-color: rgba(255, 0, 0, 0.05);
	color: red;
	border: 1px dashed #ff0000;
	min-width: 140px;
	margin: 0 .5rem;

	&:hover {
		background-color: rgba(255, 0, 0, 1);
		color: #fff;
		border-style: solid;
	}

	&:before {
		content: 'Action waiting for placement/connection';
		display: block;
		padding: 15px;
		transition: opacity 200ms ease;
		font-weight: 800;
		font-size: 13px;
		text-align: center;
		white-space: pre;
		opacity: 0;
		border-radius: 5px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		background-color: #2f82a4;
		color: #fef2f1;
	}

	&:hover {
		&:before {
			opacity: .8;
		}
	}
}