.section-grid {
  .builder-container {
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 1rem;

    .nano-row {
      justify-content: center;
      margin-bottom: 0;

      .prefix,
      .column,
      .suffix {
        transition: all ease 500ms;
      }

      button {
        width: 100%;
        padding: 13px 8px;
        margin-bottom: 3px;
      }
    }
  }

  h1 {
    font-size: 70px;
    margin: 0 0 1rem;
    text-align: center;
    color: gcolor("white");
    text-transform: uppercase;
  }
}
