.link-icon {
	background-color: transparent;
	border: none;
	vertical-align: middle;
	display: inline-block;

	> .icon {
		&:before,
		&:after {
			font-size: 18px;
		}
	}

	&.md {
		> .icon {
			&:before,
			&:after {
				font-size: 22px;
			}
		}
	}

	&.lg {
		> .icon {
			&:before,
			&:after {
				font-size: 29px;
			}
		}
	}

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}

	// @include themify {
	// 	@each $name, $value in $item-colors {
	// 		&.#{$name} {
	// 			color: themed($name);
	// 			&:hover {
	// 				color: darken(themed($name), 7.5%);
	// 			}
	// 		}
	// 	}
	// }
}
