.pill {
  padding: 5px 10px;
  border-radius: 18px;
  margin: 5px 0;
  max-width: 100%;
  background-color: #d9d9d9;
  font-style: normal;
	user-select: all;

	// @each $name, $value in $button-colors {
	// 	&.#{$name} {
	// 		.btn-icon.clear {
	// 			&:hover,
	// 			&:focus {
	// 				color: darken(nth($value, 1), 25%);
	// 			}
	// 		}
	// 	}
	// }

	&:active {
		@include themify {
			color: themed('item-focus-color');
			background-color: themed('item-focus-bg');
		}
	}

	.column {
		white-space: nowrap;
		word-break: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 20px;
		padding-left: 20px;
	}

	.suffix {
		margin: 0;

		> .btn-icon {
			margin-left: 5px !important;
			vertical-align: top;
		}
	}

	.bu-row {
		margin-bottom: 0;
		width: 100%;
	}
}