& {
	@include themify {
		@each $name, $text-color in $item-colors {
			&.#{$name} {
				$color: themed($name);
				$text-color: themed($text-color);
				
				// @include button-variant-cs(
				// 	$color: $text-color,
				// 	$background: $color,
				// 	$border-color: darken($color, 7.5%),
				// 	$hover-color: $text-color,
				// 	$hover-background: darken($color, 7.5%)
				// );
			}
		}

		// ----------------------- special colors

		&.gravel-to-blue {
			// @include button-variant-cs(
			// 	$color: themed('dark-text-color'),
			// 	$background: themed('gravel'),
			// 	$border-color: darken(themed('gravel'), 7.5%),
			// 	$hover-color: themed('primary-bg'),
			// 	$hover-background: darken(themed('blue'), 7.5%)
			// );
		}

		&.grey-to-blue {
			// @include button-variant(
			// 	$color: themed('primary-bg'),
			// 	$background: themed('grey'),
			// 	$hover-color: themed('primary-bg'),
			// 	$hover-background: darken(themed('blue'), 7.5%)
			// );
		}

		&.grey-to-red {
			// @include button-variant(
			// 	$color: themed('primary-bg'),
			// 	$background: themed('grey'),
			// 	$hover-color: themed('primary-bg'),
			// 	$hover-background: darken(themed('red'), 7.5%)
			// );
		}

		&.input-color {
			color: themed('primary-color');
			border-color: themed('input-border');
			background-color: themed('input-bg');
		}

		&.active,
		&.current {
			// @include button-variant(
			// 	$color: themed('primary-bg') !important,
			// 	$background: themed('blue') !important,
			// 	$hover-color: themed('primary-bg'),
			// 	$hover-background: darken(themed('blue'), 7.5%) !important
			// );
		}

		&.white {
			background: gcolor('white');
			border-color: gcolor('white');
			&:hover {
				background: gcolor('wild-sand');
				border-color: gcolor('wild-sand');
			}
		}

		&.clear {
			color: rgba(255, 255, 255, .8);
			background-color: rgba(0, 0, 0, .45);
			border: 0;
	
			@each $name, $value in $button-colors {
				&.#{$name} {
					// @include button-variant(
					// 	$color: nth($value, -1),
					// 	$background: transparent,
					// 	$hover-color: #fff,
					// 	$hover-background: nth($value, -1)
					// );
				}
			}
	
			&:hover {
				opacity: 1;
				background-color: #fff;
			}
		}

		&.clear-area {
			// @include button-variant(
			// 	$color: themed('primary-color'),
			// 	$background: transparent,
			// 	$hover-color: themed('primary-color'),
			// 	$hover-background: rgba(0, 0, 0, 0.08)
			// 	);
			}

		&.clear-to-blue {
			// @include button-variant-cs(
			// 	$color: themed('primary-color'),
			// 	$background: transparent,
			// 	$border-color: themed('input-border'),
			// 	$hover-color: themed('light-text-color'),
			// 	$hover-background: darken(themed('blue'), 7.5%)
			// );
		}

		&.clear-to-red {
			// @include button-variant-cs(
			// 	$color: themed('primary-color'),
			// 	$background: transparent,
			// 	$border-color: themed('input-border'),
			// 	$hover-color: themed('light-text-color'),
			// 	$hover-background: darken(themed('red'), 7.5%)
			// );
		}
	}
}

&.outline {
	@include themify {
		background-color: transparent;

		@each $name, $text-color in $item-colors {
			&.#{$name} {
				// @include button-ghost-variant(
				// 	$color: themed($name),
				// 	$border: themed($name),
				// 	$hover-color: themed($text-color)
				// );
			}
		}
	}

	@include themify-custom('light') {
		&.milk-punch { color: gcolor('sepia'); }
		&.yellow { color: gcolor('sepia'); }
		&.gravel { color: gcolor('gravel'); }
		&.light-grey { color: gcolor('gravel'); }
	}
}