fieldset,
article {
	&.dynamic-element {
		padding: 3px 10px 11px;
		border: 1px solid;
		border-radius: 10px;
		margin-bottom: .5rem;

		@include themify {
				border-color: themed('element-border');
				background-color: themed('element-bg');
		}

		&.active {
				@include themify {
					border-color: themed('element-active-border');
					background-color: themed('element-active-bg');
					// box-shadow: 0 5px 10px 0 rgba( themed('secondary-shadow'), 0.3);
				}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			@include themify {
				// box-shadow: 0 5px 10px 0 rgba( themed('secondary-shadow'), 0.3);
			}
		}

		.title-bar {
			display: flex;
			align-items: self-start;
			flex-wrap: wrap;
			flex-direction: row;

			h1, h2, h3, h4, h5, h6 {
					margin: 0;
			}

			.suffix {
				text-align: right;
				flex-basis: 70px;
				flex-grow: 1;
	
				.close {
					margin-left: 7px;
				}
			}
		}
}
}