&.compress {
  > .prefix,
  > .column,
  > .suffix {
    input[type=checkbox] + label:before,
    input[type=radio] + label:before
    {
      font-size: 12px !important;
    }

    input,
    select,
    label,
    > a,
    > p,
    > .a-select .dropdown-toggle,
    .input-label
    {
      font-size: 14px;
      height: 35px;
      min-height: 35px;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    > .a-select {
      .search-component {
        padding-top: 0;
        padding-bottom: 0;
        border: none;

        > .prefix {
          > label {
            font-size: 13px;
            border-left: 1px solid;
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding-left: 10px;
            padding-right: 10px;
            
          }
        }

        > .column {
          > input {
            font-size: 14px;
            border-top: 1px solid;
            border-bottom: 1px solid;
          }
        }

        > .suffix {
          > button {
            border-right: 1px solid;
            border-top: 1px solid;
            border-bottom: 1px solid;
            height: 35px;
            min-height: 35px;
            .icon.times {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }

        > .prefix,
        > .column,
        > .suffix {
          > input,
          > label {
            
            height: 35px;
            min-height: 35px;
            padding-top: 6px;
            padding-bottom: 6px;
            @include themify {
              border-color: themed('input-border') !important;
            }
          }
        }
      }
    }

    button {
      &,
      &.btn,
      &.btn-icon {
        height: 35px;
      }
    }

    .component {
      input {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .icon.times {
      padding: 0;
    }
  }

  &.component {
    > .prefix,
    > .column,
    > .suffix {
      input {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}