// erase lines between elements: search-input
&.component {
  border-radius: 22px;

  @include themify {
    border: 1px solid themed('input-border');
  }

  > .prefix,
  > .column,
  > .suffix {
    #{$inputs} {
      border: 0;
    }

    > input {
      padding-left: 0;
      padding-right: 0;
    }

    > input,
    [type=reset] {
      &:focus {
        box-shadow: none !important;
      }
    }

    .icon.times {
      padding: 0 15px;
    }
  }

  &:focus-within {
    border-width: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}