/*
-----------------------------------------------------------------------------------------------------------------------
Custom row with fixed pixel perfect sizes
-----------------------------------------------------------------------------------------------------------------------
*/

.bu-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  align-items: flex-start;

  // structure blocks

  > .prefix {
    flex-basis: 25px;
    text-align: left;
  }

  > .suffix {
    flex-basis: 25px;
    text-align: right;
  }

  > .column {
    flex: 1 0 0;
    max-width: 100%;
    padding: 0;
  }

  > .column,
  > .prefix,
  > .suffix {
    @extend %grid;
    @extend %fix-columns;

    &.sz600 {
			flex-basis: 600px;
			max-width: 600px;
		}
  }

  // elements inside blocks

  > .prefix {
    .icon {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;

      &.move {
        @include themify {
          color: themed('item-disabled-color');
        }

        &:hover {
          cursor: move;
        }
      }
    }
  }

  > .column {
    h4,
    h6,
    label,
    p,
    textarea {
      margin-bottom: 0 !important;
    }

    .labelable {
      > textarea {
        margin-bottom: -13px !important;
      }
    }

    h6 {
      margin-bottom: 9px;
    }
  }

  > .suffix {
    .btn-icon {
      margin-left: auto;
    }

    .formula {
      margin-bottom: 5px;
    }
  }

  &.expandable {
    justify-content: flex-end;

    > .time {
      align-self: flex-start;
      text-align: right;
    }
  }

  // extension


  &.layout {
    margin-right: -0.5rem;
    margin-left: -0.5rem;

    > .prefix,
    > .column,
    > .suffix {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }


  &.component-row {
    // row that erase all the margin bottom of the elements
    align-items: center;

    .prefix {
      h4, h5, h6 {
        margin-bottom: 0;
      }
      
      input[type=checkbox] {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }

    .bu-row {
      margin-bottom: 0;
    }

    > .prefix,
    > .column {
      input { margin-bottom: 0; }
      &:not(:last-child) {
        padding-right: .5rem;
      }
    }
  }

  &.grid {
    align-items: stretch;
    justify-content: center;

    > div {
      flex: 1 1 30%;
      padding: 5px;

      &:only-child {
        flex-grow: 0;
      }

      > button {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.card-summary {
    align-items: flex-start;
  }

  @import 'grid-multi-input';
}