.pencil,
.pen,
.typewriter,
.crayon {
	// @include item-text-colors;

	&.content {
		@include themify {
			color: themed('primary-color');
		}
	}

	&.inherit {
		color: inherit;
	}
}

.typewriter {
	font-style: normal;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}

.pencil {
	font-style: normal;
	font-weight: 600;
}

.pen {
	font-style: italic;
	font-weight: 600;
}

.crayon {
	font-style: normal;
	font-weight: 800;
}