.scroll-area {
	overflow: auto;
	padding: 0;
	background: transparent;
	border: 0;
	border-radius: 0;
	
	@include scrollbar-base();
	@include scrollbar();

	@each $name, $text-color in $item-colors {
		&.#{$name} {
			@include scrollbar($name);
		}
	}
}