 // table color options

 &.clear-table {
  > .table-body {
    padding: 0;
    background-color: transparent;
  }
}

&.absolute-clear {
  .bu-row {
    align-items: flex-start;
  }
  .table-header {
    > .bu-row {
      border-bottom-width: 0;
    }
  }
  > .table-body {
    padding: 0;
    background-color: transparent;
  }
}

&.floating-header {
  .table-header {
    > .bu-row {
      border-bottom-width: 0;
    }
  }
}

// hiding headers
&.no-header {
  > .table-header {
    display: none;
  }
}

&.clear-list {
  > .table-header {
    display: none;
  }

  > .table-body {
    &, & > .bu-row, & > .bu-row:hover {
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}