/*
-----------------------------------------------------------------------------------------------------------------------
Table with grid and list style
-----------------------------------------------------------------------------------------------------------------------
*/

@mixin responsive-table() {
  .table-body {
    .bu-row:not(.prompt) {
      margin: .25rem;
      align-items: flex-start;
    }

    .prefix {
      padding-top: 2px;
    }
    
    > .bu-row {
      > .column:first-child,
      > .prefix + .column {
        padding-right: 15px;
        max-width: calc(100% - 27px * 2);
  
        + .column {
          padding-top: .5rem;
          margin-top: .5rem;
  
          @include themify {
            border-top: 1px solid themed('primary-border');
          }
        }
      }
    }
  }

  .bu-row {
    > .scroll-area > .column,
    > .column {
      flex-basis: 100%;
      padding-right: 0;
      padding-left: 0;
    }

    // order
    .column { order: 4; }
    .prefix { order: 1; }
    .suffix { order: 3; }
    > .column:first-child,
    > .prefix + .column { order: 2; }
  }
}


.table-grid {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .table-header {
    margin: 0;
    border-radius: 22px;

    > .bu-row {
      padding: 3px 22px;
      border-bottom: 1px solid transparent;
      @include themify {
        border-bottom-color: themed('primary-border');
        color: themed('secondary-color');
      }

      h6 {
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 0;

        button, a {
          font-weight: inherit;
          font-size: inherit;
          position: relative;
          &:before,
          &:after {
            // @include icomoon(8px, ('play'));
            position: absolute;
          }
          &:before {
            transform: rotate(270deg);
            top: 0;
            left: calc(100% + 5px);
          }
          &:after {
            transform: rotate(90deg);
            top: 8px;
            left: calc(100% + 4px);
          }

          &.up:before {
            content: none;
          }
          &.down:after {
            content: none;
          }

          &:hover, &:focus, &.up, &.down {
            text-decoration: underline;
            @include themify {
              color: themed('item-focus-bg');
            }
          }
        }
      }
    }
  }

  .table-body {
    padding: 7px;
    border-radius: 10px;

    &, > .scroll-area {
      display: flex;
      flex-flow: row wrap;
      align-content: stretch;
      width: 100%;
    }

    @include themify {
      background-color: themed('secondary-bg');
    }

    > .scroll-area > .bu-row,
    > .bu-row {
      border-radius: 10px;
      padding: 15px;
      align-items: center;
      flex-basis: 100%;
      max-width: 100%;
      position: relative;
      transition: box-shadow ease 200ms;

      @include themify {
        border: 1px solid themed('element-border');
        background-color: themed('primary-bg');
      }

      &.active {
        @include themify {
          background-color: themed('item-focus-bg');
          color: themed('item-focus-color');
        }
      }

      &:hover {
        @include themify {
          // box-shadow: 0 5px 10px 0 rgba( themed('secondary-shadow'), 0.3);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      > .row-header {
        flex-basis: 100%;
        text-transform: uppercase;

        &:not(:last-child){
          padding-bottom: .5rem;
          margin-bottom: .5rem;

          @include themify {
            border-bottom: 1px solid themed('primary-border');
          }
        }

        > h6 {
          font-size: 12px;
        }
      }

      > .prefix {
        .icon {
          margin-right: 5px;
        }
      }
      p {
        font-size: 16px;
      }

      // colors on icons and titles in rows: end

    }
  }

  .table-footer {
    > .cta {
      text-align: center;
      margin: 1.5rem 0 2.5rem;
    }
  }

  .column {
    padding: 0 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  // components

  .select-filter {
    flex-basis: 100%;

    .bu-row {
      padding: 5px 15px;
      margin-bottom: 0;
      align-items: center;
    }

    .dropdown-toggle {
      border-radius: 22px;

      &:hover, &:focus {
        @include themify {
          background-color: themed('primary-border');
        }
      }
    }
  }

  .table-pagination {
    width: 100%;
    text-align: center;

    @include themify {
      color: themed('primary-color');
    }
  }

  // grid responsive/grid structure

  &.grid {
    @include responsive-table;

    @media (min-width: 768px) {
      .table-header {
        display: none;
      }

      .table-body {
        .bu-row:not(.prompt) {
          flex-basis: calc(25% - .5rem);
          max-width: calc(25% - .5rem);
        }
      }
    }
  }

  &.grid,
  &.rows {
    @media (max-width: 768px) {
      @include responsive-table;

      .table-header {
        .column {
          flex-basis: 100%;
          max-width: 100%;
        }
      }

      .table-body {
        .bu-row:not(.prompt) {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }

  @import 'table-grid-styles';
}
