#tooltip-container {
	position: fixed;
	pointer-events: none;

	&:after {
		content: '';
		position: absolute;
		top: 10px;
		left: -4px;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		background-color: inherit;
	}

	&.danger {
		filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
		@include themify {
			background-color: themed('chablis');
			color: themed('red');
		}
		&:after {
			@include themify {
				background-color: themed('chablis');
			}
		}
	}

	&.responsive-btn {
		@media (min-width: 1290px) {
			display: none;
		}
	}

	&.top {
		&:after {
			left: calc(50% - 5px);
			top: initial;
			bottom: -5px;
		}
	}

	&.left {
		&:after {
			left: auto;
			right: -4px;
		}
	}

	&.bottom {
		&:after {
			top: -3px;
			left: calc(50% - 5px);
		}
	}

	&:not(.key) {
		text-align: center;
	}

	&.key {
		text-align: left;
		//transform: translate(-18px, 0);
	}
}

#tooltip-container,
.tooltip-inner {
	font-family: sans-serif;
	min-height: 30px;
	max-width: 240px;
	min-width: 30px;
	padding: 5px 15px;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
	word-break: break-word;

	@include themify {
		background-color: themed('tooltip-bg');
		color: themed('tooltip-color');
	}

	h6 {
		font-size: 16px;
		font-weight: 700;
	}

	p, li {
		font-size: 14px;
		margin-bottom: .5rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		padding-left: 25px;
		margin-bottom: .5rem;
	}

	ul {
		list-style: circle;
	}

	em {
		@include themify {
			color: themed('tooltip-color');
		}
		font-style: italic;
	}

	a {
		@include themify {
			color: themed('tooltip-link');
		}
		text-decoration: underline;
	}

	img {
		max-width: 100%;
	}
}

// Bootstrap's tooltip
.tooltip.show {
	opacity: 1;
}
.tooltip-inner {
	@include scrollbar-base();
	@include scrollbar('grey');
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 350px;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	@include themify {
		border-top-color: themed('tooltip-bg');
	}
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	@include themify {
		border-bottom-color: themed('tooltip-bg');
	}
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
	@include themify {
		border-left-color: themed('tooltip-bg');
	}
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
	@include themify {
		border-right-color: themed('tooltip-bg');
	}
}

// "?" icon button
.tooltip-btn {
	@import 'btn-colors';
	font-size: 10px;
	line-height: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-bottom: 5px;
	margin-left: 5px;
	vertical-align: middle;
	.icon {
		display: inline-block;
	}
}